

1. Write a Python program to accept a string value from the user and display
the count of each character in that string.

 Sample input: Enter a string
 value: assembly

 Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1






---

In [71]:
string=input("Enter a string value:")

for i in set(string):
  print(i,"=",string.count(i))

Enter a string value:assembly
e = 1
m = 1
b = 1
y = 1
s = 2
a = 1
l = 1

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34



---

In [5]:
num=[34,12,7]

print(max(num))

34

In [4]:
###   OR   #####

a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
c=int(input("Enter the third number:"))

print('\n', max(a,b,c))

Enter the first number:34
Enter the second number:77
Enter the third number:89

 89

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8



---

In [6]:
def exponent(base,exp):
  return(base**exp)

base=int(input("Enter the base:"))
exp=int(input("Enter the exponent:"))

print(exponent(base,exp))

Enter the base:2
Enter the exponent:3
8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [7]:
i=int(input("enter a positive number:"))

sum_of_cubes=0

for numbers in range(i-1,0,-1):
  sum_of_cubes += numbers**3

print(sum_of_cubes)

enter a positive number:4
36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz



---

In [8]:
for i in range(1,11,1):
  if i%2==0 and i%5==0:
    print("FizzBizz")
  elif i%5==0:
    print("Bizz")
  elif i%2==0:
    print("Fizz")
  else:
    print(i)

1
Fizz
3
Fizz
Bizz
Fizz
7
Fizz
9
FizzBizz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [9]:
L2=[2,3,4,2,5,2]

max_count=0
most_frequent=None

for i in set(L2):
  c=L2.count(i)

  if c > max_count:
    max_count = c
    most_frequent = i

print("Most frequent item:", most_frequent)

Most frequent item: 2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [10]:
L3=[2,1,3,1]
sum_of_sqrs=0

for i in L3:
  sum_of_sqrs += i**2
print(sum_of_sqrs)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd



---

In [11]:
for i in range(1,16,1):
  if i%2==0:
    print(i,"-","even")
  else:
    print(i,"-","odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5



---

In [12]:
f=float(input("Temprature in Fahrenheit= "))
c=((f-32)/9)*5

print("Temprature in Celsius=",c)

Temprature in Fahrenheit= 41.0
Temprature in Celsius= 5.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output:6

In [13]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    fact=1
    for i in range(2,n+1):
      fact *= i
    return fact


number=int(input("Enter a nonnegative integer: "))

print(factorial(number))

Enter a nonnegative integer: 3
6

In [14]:
###   OR   ###

import math
i=int(input("Enter a nonnegative integer: "))
fact=math.factorial(i)

print(fact)

Enter a nonnegative integer: 4
24